#full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 60px;
    width: 400px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 6px;
    transition: font-size 0.5s ease;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.custom-icon{
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 66px;
    width: 66px;
}
.custom-icon:hover{
    transform: scale(1.2);
}

input[type="number"] {
    width: 80px;
    padding: 5px 10px; /* Add padding for a clean look */
    font-size: 17px; /* Font size for readability */
    border: 2px solid rgb(34, 34, 34); /* Default border */
    border-radius: 6px; /* Rounded corners */
    outline: none; /* Remove outline */
    text-align: center; /* Center the text */
    appearance: textfield; /* Remove default spinner */
    margin: 10px;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Disable spinners */
    margin: 0;
}

input[type="number"]:focus {
    border-color: #000000; /* Highlight border color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a glow effect */
}


